body{
    background-color: lightgray;
    font-family: Arial;
}
header{
    background-color: gray;
    color: whitesmoke;
    min-width: auto;
    min-height: fit-content;
    text-align: center;
    padding: 10px;

}
#div1{
    background-color: lightcyan;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#pnagl{
    font-weight: bold;
    font-size: 125%;
}
#pnorm{
    text-indent: 20px;
}